@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #000000 0%, #000000 50%, #eeeeee 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#banner-0 {
  background: black;
  color: white;
}

#banner-1 {
  color: red;
  background: turquoise;
  margin-bottom: 0;
  padding-bottom: 0;
}

#banner-2 {
  color: black;
  background: maroon;
  margin-bottom: 0;
  padding-bottom: 0;
}

#banner-3 {
  background: black;
  color: yellowgreen;
}